body {
    font-size:100%;
    font-family:'Lato', sans-serif;
    background-color:#7AFC92;
    font-weight: 300;
}
hr {
	margin-bottom: 40px;
}

#container {
    width: 1080px;
    margin: 0 auto;
}

a#name {
    font-size: 55px;
    font-weight: 100;
    color: #770033;
    text-decoration: none;
}