.menu {
    font-size: 60px;
    font-weight: 700;
    height: 90px;
    width: 230px;
    padding: 30 10;
    text-decoration: none;
}
#projects {
    background-color: #00DDFF;
    float: left;
    position: relative;
}
#contact {
    background: #FFFF00;
    float: left;
    position: relative;
}
#portrait {
    float: left;
    position: relative;
}
#music {
    background: #FF22CC;
    float: left;
    position: relative;
}
#photography {
    background: #00DD00;
    float: left;
    position: relative;
    width: 430px;
}